apiVersion: 1
datasources:
  - name: influxdb-flux
    uid: influxdb01
    type: influxdb
    access: proxy
    withCredentials: false
    basicAuth: false
    isDefault: true
    url: http://localhost:8086
    secureJsonData:
      token: "{{ influxdb.token }}"
    jsonData:
      version: Flux
      organization: "{{ influxdb.org }}"
      defaultBucket: "{{ influxdb.dialout_bucket }}"
      httpMode: POST
